.main-container {
  .layout {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > header {
      flex: 0;
    }

    > main {
      flex: 1;
    }

    > footer {
      flex: 0;
    }
  }
}
